<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>METODOS NUMERICOS</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="titulo">
            <h1>METODOS NUMERICOS</h1>
        </div>
        <nav class="barra_navegacion">
            <a href="/">Inicio</a>
            <a href="/metodo-error-rya">Error RyA</a>
            <a href="/metodo-grafico">Graficadora</a>
            <a href="/metodo-biseccion">Biseccion</a>
            <a href="/metodo-punto-fijo">Punto fijo</a>
            <a href="/sistemas-de-ecuaciones/gauss-jordan">Gauss Jordan</a>
            <a href="/sistemas-de-ecuaciones/eliminacion-g">Eliminacion G</a>
            <a href="/sistemas-de-ecuaciones/descomposicion-lu">Descomposicion LU</a>
            <a href="/sistemas-de-ecuaciones/krilov">Krilov</a>
            <!-- <a href="/" style="margin-left: auto;">Iniciar sesion</a> -->
        </nav>
    </header>