<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>METODOS NUMERICOS</title>
    <link rel="stylesheet" href="/ruta/client/assets/css/styles.css">
</head>

<body>
    <header>
        <div class="titulo">
            <h1>METODOS NUMERICOS</h1>
        </div>
        <nav class="barra_navegacion">
            <a href="/">Inicio</a>
            <a href="/Error_RyA">Error RyA</a>
            <a href="/Graficadora">Graficadora</a>
            <a href="/Biseccion">Biseccion</a>
            <a href="/EliminacionG">Eliminacion G</a>
            <!-- <a href="/" style="margin-left: auto;">Iniciar sesion</a> -->
        </nav>
    </header>